html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container {
    width: 960px;
    height: 1020px;
    border: 2px solid red;
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
    /* flex: 1; */
}